<nav>
  <span><a class="menu" href="/">Főoldal</a></span>
  <span><a class="menu" href="/sajat">Saját tantárgyak</a></span>
  <span><a class="menu" href="/sajatOrarend">Saját órarend</a></span>
  <span><a class="menu" href="/orakBeosztasa">Órák beosztása</a></span>
  <span><a class="menu" href="/tantargyKarbantartas">Tantárgyak karbantartása</a></span>
  <span><a class="menu" href="/felhasznaloKarbantartas">Felhasználó karbantartása</a></span>
</nav>