<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs', { title: 'Nem vagy bejeletkezve' }) %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>Nem vagy bejeletkezve</h1>
    <div class="tartalom">
      <p>Nem vagy bejeletkezve, ezért nem tudod elérni a kivánt oldalt, kérlek jelentkez be az alabbi linken!</p>
      <span><a href="/login">Bejelenetkezés</a></span>
    </div>
  </body>
</html>